<div></div>
<style>
  body {
    background: #62374e;
  }
  div {
    width: 50px;
    height: 50px;
    margin: 50px 42px;
    background: #fdc57b;
    color: #fdc57b;
    box-shadow: 0 150px 0, 250px 0 0, 250px 150px 0;
  }
</style>

<!-- OBJECTIVE -->
<!-- Write HTML/CSS in this editor and replicate the given target image in the least code possible. What you write here, renders as it is -->

<!-- SCORING -->
<!-- The score is calculated based on the number of characters you use (this comment included :P) and how close you replicate the image. Read the FAQS (https://cssbattle.dev/faqs) for more info. -->

<!-- IMPORTANT: remove the comments before submitting -->